body{
	margin:0px;
	padding:0px;
	border:0px;
}

div {
	margin:0px;
	padding:0px;
	border:0px;
	font-family: "Arial";
}

h1{
	margin:0px;
	padding:0px;
	font-size: 24pt;
}

h2{
	color:#999;
}

ul{
	margin:0px;
	padding:0px;
	list-style-type: disk;
}

.content{
	width:960px;
	margin:20px auto auto auto; /*top right bottom left*/
}

.pageheader{
	background: #050268;
	color: white;
	padding:20px;
}

.sectionheader{
	margin-top:15px;
	margin-bottom:15px;
}

.sectiondivider{
	background-color:#AAA;
	height:4px;
}

.blueborder{
	border: 3px solid #CFCFFF;
	text-align: left;
	padding:22px;
}
